@import url(normalize.css);
@import url(base.css);
@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@400;700&display=swap');



/*CSS GENERAL*/

body {
    max-width: 1060px;
    margin: auto;
}

h1 {
    font-family: 'Mandali', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

h2{
    font-family: 'Mandali', sans-serif;
    text-transform: uppercase;
}

h3 p {

    font-family: 'Raleway', sans-serif;
}

/*header*/


nav{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 25px 0 25px;
    vertical-align: middle;
}
nav ul{
    display: flex;
    gap: 30px;
}


header{
    background-image: url(../img/yogamat.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    gap: 30px;
    padding-bottom: 200px;
}

#b{
    padding: 8px;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #ffffff;
    border: 1px solid white;
    color:black;
    box-shadow: 5px;
}


/*Concept*/

#concept-1 ::after {

    content: url(../img/mat@2x.png);
    display: flex;
    text-align: right;
}

